.wheel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 200px;
  touch-action: pan-y;
}

.wheel-fixed {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
}

.wheel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2ddaf1;
  color: black;
  font-weight: bold;
  transition: transform 0.3s ease, opacity 0.3s ease;
  text-align: center;
  user-select: none;
}

.wheel-item.selected {
  z-index: 2;
}

.wheel-item:not(.selected):not(.clickable) {
  background-color: #c9f2f7;
}
