.projects-section {
  padding: 4rem 2rem;
  background: linear-gradient(135deg, #4c6a85, #41207e, #0f1d65, #030325);
  min-height: 100vh;
}
html, body {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  overflow: hidden; /* prevents scrollbars */
}
.p{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}